@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: "Libre Baskerville", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 75px;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
  animation: opacity 2s ease;
}

nav button {
  background: none;
  border: none;
  color: #7d7d7d;
  font-size: 0.75rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px;
  transition: color 0.2s ease 0s;
  cursor: pointer;
}

nav button:hover {
  color: #000;
}

.gallery {
  width: 90vw;
  max-width: 90vw;
  display: grid;
  column-gap: 2rem;
  row-gap: 0.5rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
}

.gallery > * {
  height: fit-content;
  animation: opacity 3s ease;
}

.singleArt {
  position: relative;
  overflow: hidden;
  font-family: "Libre Baskerville", serif;
}

.singleArt img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.85));
  color: #fff;
  transform: translateY(100%);
  transition: all 300ms ease;
}

.info h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  padding: 0 3rem 0 0.1rem;
  /* top right bottom left */
}

.info h3 {
  font-size: 1rem;
  color: #ffffffbf;
  padding: 0 0.1rem;
}

.singleArt:hover .info {
  transform: translateY(0);
}

.artPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90vw;
  margin: 5rem auto 2rem auto;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 60%;
  animation: opacity 2s ease;
}

.picture figure {
  position: relative;
}

.picture figure button {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #fff;
  border: none;
  font-size: 0.7rem;
  font-family: "Libre Baskerville", serif;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 0.8rem 1rem;
  transition: all 500ms ease;
}

.picture figure button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
}

.picture figure button svg {
  padding-right: 10px;
}

.picture .name {
  background-color: #fff;
  margin-left: -5rem;
  padding: 0 2rem 1rem;
  z-index: 1;
}

.picture > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  position: static;
  z-index: 2;
}

.picture #art {
  margin-right: 2rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  line-height: 55px;
}

.picture h2 {
  font-size: 0.9rem;
  color: #7d7d7d;
}

.artInfo {
  padding: 0 30px;
  animation: opacity 4.5s ease;
}

.artInfo h1 {
  font-weight: bold;
  color: #e5e5e5;
  font-size: 6rem;
  margin: 0;
}

.artInfo p {
  max-width: 400px;
  font-weight: bold;
  font-size: 0.875rem;
  color: #7d7d7d;
  line-height: 2;
  margin-bottom: 2.25rem;
}

.artInfo a {
  font-size: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #7d7d7d;
  letter-spacing: 0.15rem;
}

.error {
  text-align: center;
  padding: 90px 30px;
}

.error h1 {
  font-size: 3rem;
}

.error a {
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
}

.large {
  position: fixed;
  inset: 0px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: grid;
  place-content: center;
  z-index: 5;
  transform: translateX(0);
  transition: all 1s ease;
}

.large > div {
  position: relative;
  padding: 0px 1.5rem;
  margin: 0px auto;
  max-width: 1100px;
  z-index: 5;
}

.large img {
  max-width: 100%;
  display: block;
}

.large button {
  color: #fff;
  border: none;
  background: none;
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 5px;
  padding: 0.8rem 1rem;
}

.hide {
  transform: translateX(-100%);
}

@media screen and (min-width: 576px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

@media screen and (max-width: 1200px) {
  .artPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .artInfo {
    margin: 2rem 0;
  }

  .artInfo p {
    max-width: 90%;
    font-size: 1rem;
  }

  .picture {
    align-items: flex-start;
  }

  .picture > div {
    display: inline-block;
    min-height: auto;
  }

  .picture .name {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 992px) {
  .info {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .artPage {
    margin: 1rem auto 2rem;
  }

  .picture {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .picture > div {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .picture .name {
    margin-left: 0;
  }

  .picture h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .picture #art {
    margin-right: 0;
  }

  #artist {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 576px) {
  nav {
    margin: 0 30px;
  }

  .picture figure {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  nav {
    margin: 0 10px;
  }

  nav img {
    height: 30px;
  }

  nav button {
    font-size: 0.65rem;
  }

  .picture h1 {
    font-size: 2rem;
  }

  .picture .name {
    padding: 0 1rem 1rem;
  }

  #artist {
    padding: 0 1rem;
  }

  .artInfo {
    padding: 0 15px;
  }

  .artInfo p {
    font-size: 0.875rem;
    line-height: 2;
    max-width: 100%;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
